<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/index.css" />

    <title>Login Page</title>
  </head>
  <body>
    <div class="centered">
      <main>
        <h1>Flask login</h1>

        <form method="POST" action="/">
          <label for="username">Username:</label><br />
          <input type="text" id="username" name="username" required /><br />

          <label for="password">Password:</label><br />
          <input type="password" id="password" name="password" required /><br />
          <br />
          <input class="button" type="submit" value="Login" />
        </form>
        <br />
        <b>If you are not registered you 
          <br />
          can easily register here</b><br /><br />
        <a class="button" href="{{ url_for('register')}}"> Register </a>
      </main>
    </div>
  </body>
</html>
